
	.get_photo{
		padding:10px;
		width:200px;
		height:200px;

	}
	.doc
	{
		background-size:100%;
		background-color:#33ff88;
	}	
	.container{
		background-size:100%;
		background-color:pink;
		border-color:#3297e9;
		border-style:solid;
		border-width:2px;
		color:#00b838; 
	}
	.newbox{
		border:solid;
		background:#33ff88;
		border-color:#3297e9;
		border-style:solid;
		border-width:2px;
	}

	.navbar-hover {			
		 padding-left:100px;		 
	}
	.photo{
			width:70px;
			height:70px;
		}
	.table{			
		box-sizing:10px;
	}

	body{
		padding-left:50px;
		padding-right:50px;		 
	}

	#form-custom{
		width:400px;
	}

	#login-dp{
	min-width: 250px;
	padding: 14px 14px 0;
	overflow:hidden;
	background-color:rgba(255,255,255,.8);
	}
	#login-dp .help-block{
	font-size:12px    
	}
	#login-dp .bottom{
	background-color:rgba(255,255,255,.8);
	border-top:1px solid #ddd;
	clear:both;
	padding:14px;
	}
	#login-dp .social-buttons{
	margin:12px 0    
	}
	#login-dp .social-buttons a{
	width: 49%;
	}
	#login-dp .form-group {
	margin-bottom: 10px;
	}
	.btn-fb{
	color: #fff;
	background-color:#3b5998;
	width:10px;
	}
	.btn-fb:hover{
	color: #fff;
	background-color:#496ebc 
	}
	.btn-tw{
	color: #fff;
	background-color:#55acee;
	}
	.btn-tw:hover{
	color: #fff;
	background-color:#59b5fa;
	}
	@media(max-width:768px){
	#login-dp{
	    background-color: inherit;
	    color: #fff;
	}
	#login-dp .bottom{
	    background-color: inherit;
	    border-top:0 none;
	}
	}
	.dropdown:hover .dropdown-menu {
	display: block;
	}