<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	{% load staticfiles %}
	<style>
	.doc
	{
		background-size:100%;
		background-color:pink;
	}	
	.container{ 
		color:blue;
	}	
	.container{
		background-size:100%;
		background-color:pink;
		border-style:solid;
		border-width:1px;
		
	}

</style>	
	</style>
	{% load bootstrap3 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
	{% block header %}
	<div class="container">
	<div class="doc">
	<center><h1 class="rest">My Restaurant</h1>
	Current Time : {{ time }}
	Country : {{ country }}
	</center>
	</div>
	</div>
	{% endblock %}
</head>
<body>
<br />
	
{% block content %}
	<div class="navbar navbar-custom" role="navigation">
  	<div class="container">
    <div class="navbar-header">
	<a href="{% url 'home' %}">
	{% bootstrap_button 'HOME' %}
	</a>
	<a href="{% url 'order' %}">
		{% bootstrap_button 'ORDER' %}
	</a>
	<a href="{% url 'contact' %}">
	{% bootstrap_button 'CONTACT US' %}
	</a>
	<a href="{% url 'recepie' %}">
	{% bootstrap_button 'ADD RECEPIE' %}
	</a>
	<a href="{% url 'recepie-detail' %}">
	{% bootstrap_button 'ALL RECEPIE' %}
	</a>
	<a href="{% url 'table' %}">
	{% bootstrap_button 'BOOK TABLE' %}
	</a>
	<a href="{% url 'about' %}">
	{% bootstrap_button 'ABOUT US' %}
	</a>
	</div>
	</div>
	</div>
{% endblock %}
</body>
{% block footer %}
<center><h3>{{message}}</h3></center>

{% endblock %}
</html>