<html>
<head>

	<title>{% block title %}{% endblock %}</title>
	{% load staticfiles %}
	 <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<style>
	.doc
	{
		background-size:100%;
		background-color:pink;
	}	
	.container{ 
		color:blue;
	}	
	.container{
		background-size:100%;
		background-color:pink;
		border-style:solid;
		border-width:1px;
		
	}

	</style>	
	{% load bootstrap3 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
	{% block header %}
	<div class="container">
	<div class="doc">
	<center><h1 class="rest">
	<a href="{% url 'home' %}">My Restaurant</a></h1>
	{% if not user.is_active %}
	<center><h3><a href="{% url 'login' %}">Login</a> <a href="{% url 'register' %}">SignUp</a></h3></center>
	{% endif %}
	{% if user.is_active %}
	<center><h3>Welcome {{user}} 	
	<a href="{% url 'logout' %}">Logout</a></h3></center>
	{% endif %}
	Current Time : {{ time }}	
	</div>
	</div>
	{% endblock %}

</head>
<body>
<br />
	
{% block content %}
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0" /> 
	<meta http-equiv="Pragma" content="no-cache" />
	<div class="navbar navbar-custom" role="navigation">
  	<div class="container">
    <div class="navbar-header">
	<a href="{% url 'home' %}">
	{% bootstrap_button 'HOME' %}
	</a>
	<a href="{% url 'order' %}">
		{% bootstrap_button 'ORDER' %}
	</a>
	<a href="{% url 'current' %}">
		{% bootstrap_button 'CURRENT ORDER' %}
	</a>
	<a href="{% url 'contact' %}">
	{% bootstrap_button 'CONTACT US' %}
	</a>
	<a href="{% url 'recepie' %}">
	{% bootstrap_button 'ADD RECEPIE' %}
	</a>
	<a href="{% url 'render_recepie' %}">
	{% bootstrap_button 'ALL RECEPIE' %}
	</a>
	<a href="{% url 'table' %}">
	{% bootstrap_button 'BOOK TABLE' %}
	</a>
	<a href="{% url 'render_table' %}">
	{% bootstrap_button 'BOOKED TABLES' %}
	</a>
	<a href="{% url 'about' %}">
	{% bootstrap_button 'ABOUT US' %}
	</a>
	</div>
	</div>
	</div>
{% endblock %}
</body>
{% block footer %}
<center><h3>{{message}}</h3></center>
{% endblock %}
</html>