{% include "base.html" %}
{% load static %}
{% load bootstrap3 %}
{% block title %}
{% endblock %}
{% load thumbnail %}
{% block content %}

<div class="container">
	{% if cart_list %}
		{% for i in cart_list %}
			<div class="row">
				<div class="col-sm-12">
					<div class="thumbnail">
						{% thumbnail i.photo "100x100" crop="center" as im %}
						<img src= "/static/{{im}}" class="photo" />
						{% endthumbnail %}			
					</div>				
					{{i.order_name}}
			</div>
			</div>
		{% endfor %}
	{% else %}
		<h3>No items added to the cart</h3>	
	{% endif %}

</div>
	
{% endblock %}
	
{% block footer %}

{% endblock %}