{% include "base.html" %}
{% load bootstrap3 %}
{% load thumbnail %}
{% block header %}

{% endblock %}
{% block content %}
{% if user.is_active %}

<div class="container">
{% bootstrap_formset_errors form %}
<form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.managment_Form }}
	{{ form.media 	}}
	{% bootstrap_formset form %}
	{% buttons submit='UPDATE' layout='horizontal' link='setTimeout();' %}
	{% endbuttons %}
</form>
	<br />
	<h2 style="color:red;">{{message_user}}</h2>
</div>

{% endif %}

{% endblock %}