{% include "base.html" %}
{% load static %}
{% load bootstrap3 %}
{% block title %}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
	{% bootstrap_form_errors form %}
	<form role="form" action="" method="post" class="form-horizontal" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="container">
			{{ form.managment_form }}
			{{ form.media }}
			{% bootstrap_form form layout="horizontal" %}
			{% buttons submit=key reset='CANCEL' layout="horizontal" %}
			{% endbuttons %}
			</div>
	</form>
		
{% endblock %}

{% block footer %}
{{q}}	
{% endblock %}