{% include "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load thumbnail %}
{% block header %}

{% endblock %}
{% block content %}
	<div class="control-label">
	{% for i in order %}
	<div class="breadcrumb">
	<div class="row row-horizontal">
	<div class="col-sm-2">
	<div class="thumbnail">	
		{% thumbnail i.photo "100x100" crop="center" as im %}
		<img src= "/static/{{im}}" width="{{ im.width }}" height="{{ im.height }}" />
		{% endthumbnail %}	
	<div class="panel panel-default">
	<div class="panel-heading">
	<strong>{{ i.Flavour }} {{ i.Toppings }}</strong>
	</div>
	<div class="panel-body">
		{{ i.Describe }}
	</div>
	<div class="panel-footer">
	<form id = {{i.Select}} class="form-horizontal" action="{% url 'add_order' i.id %}" method="post" enctype="Multipart/form-data">
	{% csrf_token %}   
	{% buttons submit='ADD' layout='horizontal' 'btn btn-primary' %}{% endbuttons %}
	</form>
	</div>
	</div>
	</div>			
	</div>			
	{% endfor %}
</div>	
	
	{% endblock %}