{% include "base.html" %}
{% load static %}
{% load bootstrap3 %}
{% block title %}
	{% endblock %}
{% block content %}

<div class="container">

<form action="{% url 'recepie_search' %}" method="post" class="form-horizontal" role='form'>
	{% csrf_token %}
	{% bootstrap_form form layout='inline' %}
	{% buttons submit="SEARCH" layout='horizontal' %}
	{% endbuttons %}
</form>

<table class="table">	
	<tr>
		<th>{{key1}}</th>
		<th>{{key2}}</th>
		<th>{{key3}}</th>
	</tr>		
	{%  for i in all %}
		<tr>
		<td><a href="#">{{ i.recepie_name }}</a></td>
		<td>{{ i.emailid }}</td>
		<td>{{ i.date }}</td>
		</tr>
		{% endfor %}
		</table>	
	{% bootstrap_pagination all %}			
</div>
{% endblock %}

{% block footer %}
{% endblock %}