<div class="collapse navbar-collapse" id="mr-navbar">
<ul class="nav navbar-nav navbar-right">
<li><a href="#home" class="smoothScroll">Home</a>
</li>
<li> <a href="#about" class="smoothScroll">About</a>
</li>
<li> <a href="#store" class="smoothScroll">Store</a>
</li>
<li> <a href="#staff" class="smoothScroll">Staff</a>
</li>
<li> <a href="#schedule" class="smoothScroll">Schedule</a>
</li>
<li> <a href="https://blog.muskegonrisers.com/" class="smoothScroll">Blog</a>
</li>
<li> <a href="#contact" class="smoothScroll">Contact</a>
</li>
<li>
<a href="#" class="btn btn-round btn-default snipcart-checkout"><i class="fa fa-shopping-cart"></i><div class="snipcart-summary"> (<span class="snipcart-total-items">0</span>)</div> Cart</a>
</li>
</ul>
</div>